@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-if="display === 'login'">
    <div class="jumbotron">
        <h2>Login</h2>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-8">
                <input type="text" ng-model="user.Email" class="form-control" placeholder="Email" />
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <input type="submit" ng-click="getUser()" value="Log in" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>
<div ng-if="display === 'home'">
    <div class="jumbotron">
        <h2>Products</h2>
    </div>
    <div class="column">
        <div ng-repeat="prod in products">
            <a href="" ng-click="getProduct(prod.Id)">{{prod.Name}}</a>
            <hr/>
        </div>
    </div>
</div>
<div ng-if="display === 'product'">
    <div class="jumbotron">
        <h2>{{product.Name}} | <small>${{product.Price}}</small></h2>
    </div>
    <div class="alert alert-success" ng-if="product.IsPopular">
        <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:green"></span>  This product is popular!
    </div>

    <div class="alert alert-warning" ng-if="!isLoggedin">
        <span class="glyphicon glyphicon-user" aria-hidden="true" style="color:red"></span>  Login now to order this product.
    </div>
    <button class="btn btn-primary" ng-if="isLoggedin" ng-click="addOrder()" ng-disabled="isOrdering">Order now</button>
</div>